
body, html {
    height: 100%;
    margin: 0;
    background-color: #696969;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    overflow-x: hidden; 

}

.hero-image {
background-blend-mode: multiply;
background-color: #CD853F;
  background-image: url("https://s2.best-wallpaper.net/wallpaper/1920x1200/1710/Old-camera-antique_1920x1200.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1{
font-size: 70px ;


}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width:10000px;
  position: fixed;
  z-index: 2;

  
}

.main-menu li {
  display: inline-block;
  margin-right: -4px;
 border-:2px solid #2ECC71;
  
}

.main-menu a {
  display: block;
  margin-left: -5px;
  padding: 10px 20px;
  color: #0088cc;
  background-color:#696969;
 border-left:2px solid #CD853F;
  text-decoration:none;
  color:#ffffff;
  font-size:20px;
   
  
}

.main-menu a:hover {
  background-color: #CD853F;
}
.menu{

   background-color: #1abc9c;
   
}

.diaf {
  margin-left: 40px ;
  margin-bottom: 50px;
  padding: 20px;
  width: 240px;
  background-color: white;
  box-shadow: 0 0 3px #cccccc;
  display:inline-block;
}

.caption-link {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
}

.caption-link img {
  display: block;
  max-width: 100%;
  height: 160px;
  transition: transform 0.3s ease;
}

.caption-link:hover img {
  transform: translateX(100%);
}

.caption-link::before,
.caption-link::after {
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  width: 100%;
  background-color: #333333;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  transform:translateX(-80px);
}

.caption-link::before {
  padding: 10px;
  height: 50%;
  color: #ffffff;
  content: attr(data-title);
  font-weight: bold;
  font-size: 22px;
}

.caption-link::after {
  top: 30%;
  padding: 0 30px;
  height: 100%;
  color: #d7bb97;
  content: attr(data-description);
}

.caption-link:hover::before,
.caption-link:hover::after {
  transform:translateX(0);
}
.s2{

background-blend-mode: multiply;
background-color:#CD853F;
  background-image: url("");


}
.terms{
font-size:50px;
color:white;
margin-left:700px;
margin-top:40px;
padding-top:50px;

}
.sepia {
  filter: sepia(100%);
}
h3{

  text-align: center;
  font-size:20px;
  margin-bottom:1px;
  color:#696969;

}
.effect-2 {
  margin: 10px auto;
  padding: 30px 0;
  width: 400px;
  background-color: #435a6b;
  text-align: center;

}

.effect-2 a {
  padding: 0 20px;
  height: 45px;
  color: #ffffff;
  font-weight: 300;
  line-height: 45px;
}

.effect-2 a::before,
.effect-2 a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  opacity: 0.2;
  transition: all 0.3s;
}

.effect-2 a::before {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.effect-2 a::after {
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

.effect-2 a:hover::before,
.effect-2 a:hover::after {
  opacity: 1;
}

.effect-2 a:hover::before {
  left: 50%;
  transform: rotate(0deg) translateX(-50%);
}

.effect-2 a:hover::after {
  right: 50%;
  transform: rotate(0deg) translateX(50%);
}
.a2 {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.s3{

background-blend-mode: multiply;
background-color:#778899;
  background-image: url("");
   padding-bottom:50px;
}
.s4{

background-blend-mode: multiply;
background-color:#778899;
  background-image: url("");

}

.inner-news .inner-heading {
  margin-bottom: 20px;
  font-size: 24px;
}

.news-full {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.news-full img {
  margin-bottom: 4px;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.news-full .news-stats {
  display: flex;
  justify-content: space-between;
}


.news-full time {
  margin-top: 14px;
  margin-right: 12px;
  margin-bottom: 8px;
  margin-left: 0;
}

.news-full p {
  margin-top: 0;
  margin-right: 12px;
  margin-bottom: 16px;
  margin-left: 12px;
  font-size: 14px;
  line-height: 24px;
}
